@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #ffffff;
}

.dark {
  --color: #000000;
}

body {
  background: var(--color);
}

/* @keyframes clip {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}

::view-transition-new(root) {
  animation: clip 2s ease-in;
} */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

/* 根据自己选择器修改 */
[data-bs-theme='dark']::view-transition-old(root) {
  z-index: 2147483646;
}
[data-bs-theme='dark']::view-transition-new(root) {
  z-index: 1;
}
