.button1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button1:hover {
  background-color: #23c483;
  box-shadow: 0 15px 20px rgb(46 229 157 / 40%);
  color: #fff;
  transform: translateY(-7px);
}

.button1:active {
  transform: translateY(-1px);
}
