/miniprogram/miniprogram_npm/a# yarn lock file
/yarn.lock

# npm lock file (v5.0.0+)
/package-lock.json

# Ignore basic folders
/node_modules
/coverage
/.idea
/.history
/miniprogram/miniprogram_npm/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.wxss.map

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

project.private.config.json
